{% extends "base.jinja2" %}

{% block content %}
    {% include "_nav.jinja2" %}
    <h1> An unexpected error has occurred</h1>
    <p> The administrator has been notified. Sorry for the inconvenience!</p>
    <p><a href="{{ url_for('index') }}">Back to the Homepage</a></p>
{% endblock %}