<nav id="navbar">
    <ul id="navbar-menu">
        <li class="navbar-item"><a href="{{ url_for('main.index') }}">Home</a></li>
        <li class="navbar-item"><a href="{{ url_for('main.explore') }}">Users</a></li>
        <li class="navbar-item"><a
                href="{{ url_for('users.user_page', username=current_user.username) }}">Profile</a></li>
        <li class="navbar-item"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    </ul>
</nav>