{% extends "base.jinja2" %}

{% block content %}

    {% include "_nav.jinja2" %}

    <h1 class="greetings">Hello, {{ current_user.username }}</h1>
    {% if form %}

        <form id="message-box" action="" method="post">
            {{ form.hidden_tag() }}
            <p class="text-area">
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="button">{{ form.submit() }}</p>
        </form>

    {% endif %}

    {% include "_posts.jinja2" %}
{% endblock %}