{% extends "base.jinja2" %}

{% block content %}

    {% include "_nav.jinja2" %}

    <h1>Hello, {{ current_user.username }}</h1>
    {% if form %}
        <hr>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>

        <hr>
    {% endif %}
    {% for post in posts %}
        {% include "_post.jinja2" %}
    {% endfor %}
{% endblock %}