<nav id="navbar">
    <ul id="navbar-menu">
        <li class="navbar-item"> - <a href="#">Home</a></li>
        <li class="navbar-item"> - <a href="#">My posts</a></li>
        <li class="navbar-item"> - <a href="#">Profile</a></li>
        <li class="navbar-item"> - <a href="#">About</a></li>
        <li class="navbar-item"> - <a href="#">Exit</a> - </li>
    </ul>
</nav>