{% extends "base.jinja2" %}

{% block content %}
    {% include "_nav.jinja2" %}
    <div id="user-profile">
        <img class="div1" src="{{ user.avatar(128) }}" alt=" ">
        <div id="user-header"><h1>{{ user.username }}</h1></div>
        {% if user.about_me %}
            <div id="description">{{ user.about_me }}</div>
        {% endif %}
        {% if user.last_seen %}
            <div id="last-seen">Last online: {{ user.last_seen }}</div>
        {% endif %}
        <div id="user-stats">{{ user.followers.count() }} followers<br> {{ user.followed.count() }} following.</div>
        {% if user == current_user %}
            <div class="option"><a href="{{ url_for('edit_profile') }}">Edit profile</a></div>
        {% elif not current_user.is_following(user) %}
            <div class="option"><a href="{{ url_for('follow', username=user.username) }}">Follow&emsp;&#9825;</a></div>
        {% else %}
            <div class="option"><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow &#10084;</a></div>
        {% endif %}
    </div>

    {% include "_posts.jinja2" %}
{% endblock %}